// Media
@media screen and (max-width: 1024px)
	.wrap, #mainfooter .wrap
		padding: 0 emCalc(20px)
	#mainheader
		text-align: center
		.menu
			position: relative
			top: auto
			display: inline-block
			li
				margin-bottom: emCalc(10px)
			a
				padding: emCalc(8px)

	// Plans & pricing
	.free-plan-top
		width: 96%
		padding: 2%
		float: none
		clear: both
	.plans-lists
		text-align: center
		> ul
			width: 80%
			margin: 0 auto
			> li
				width: auto
				float: none
				padding: 0
				margin-left: 0
	.plan-details
		padding: emCalc(20px) 0
		margin-left: 0
		width: auto
		text-align: center
	.def-list
		dt, dd
			width: auto
			float: none
			margin: 10px 0 0
		.smartness
			width: auto
			text-align: center
			padding: 0 5%
			ul
				display: inline-block
	.order-plan
		width: 50%
		margin: 0 auto
	.payment-info-top, .support
		display: none
	.testimonials
		margin: 0 auto
		float: none
		height: auto
		width: auto
		text-align: center
		.author-img
			float: none
			margin-bottom: emCalc(20px)
	// Media footer
	#mainfooter
		height: auto
		text-align: center
		margin: 0
		.get-support
			margin-bottom: emCalc(30px)
		.socnet
			display: inline-block
			float: none
			margin: 0 auto emCalc(30px)!important
	.about-notificare
		float: none
		> div
			width: 100%
			float: none
			margin-bottom: emCalc(30px)
			text-align: center
	.menu-footer
		width: 100%
		float: none
		padding: 0
		border: 0
		.navi, .users
			display: none
		.get-support
			width: 100%
			float: none
			text-align: center

	// Blogs
	section.blogs, section.blog-post
		article, .article-text
			height: auto
		article
			padding: emCalc(20px)
		h3
			margin: emCalc(20px) 0 0
		.article-img
			display: none
		.author-info, .readmore
			position: static

	// Contact page
	.contactus
		width: 96%
		padding: 2%
		float: none
		clear: left
		border-top: solid 1px #e4d7c9
		border-bottom: solid 1px #e4d7c9
	.aboutus
		width: 100%
	.map-image
		display: none
	.facebook-box iframe
		display: none

	// Dashboard
	.dashboard-navi
		position: static
		margin: 0 auto
	.container-content
		width: 92%
	.container-side
		width: 100%
		ul
			top: emCalc(-48px)
			right: 0
			position: absolute
		li
			float: left
			&.active a,
			&:hover a
				background: #fff
	.dashboard-menu a
		border: 0

	%fullblock
		width: 94%
		padding: emCalc(15px) 3%
	.free-plan, .testimonials, .content-wrapper, .sidebar
		@extend %fullblock
		margin-left: 0

	// Additional
	.introduction
		min-height: auto
		padding-bottom: emCalc(50px)
		h1
			font-size: emCalc(40px)
		.wrap
			min-height: 0
		.text
			width: 100%
			z-index: 10
			position: relative
	.iphone, .menu-carousel, .introduction img, .hideshow
		display: none
	.feature-lists
		width: 100%
	.home-features ul, .communication-content ul
		li
			padding: 0
			&:hover, &.active
				background: none
	.home-dashboard-features
		.dashboard-carousel
			ul
				width: auto
			li
				max-width: 500px
				float: none
				margin: 0 auto emCalc(40px)
				padding-top: emCalc(40px)
				border-top: solid 1px #ebeae8
				position: relative
				display: block
				&:first-child
					border-top: 0
					padding-top: 0
			p
				margin: 1em
	.img-dashboard-feat
		float: none
		margin: 0 auto
		width: emCalc(500px)
	.blog-review
		> div
			width: 98%
			float: none
			border: 0
			padding: 0
			&:first-child
				padding: 0 0 emCalc(50px)
				margin-bottom: emCalc(50px)
				border-bottom: solid 1px #ebeae8


	// .features-box
	// 	background-position: center center
	// .carousel, .carousel-content
	// 	display: none
	// .updates > div
	// 	width: 100%
	// 	margin-bottom: emCalc(30px)
	// 	padding: emCalc(30px) 0 0
	// 	border-left: 0
	// 	border-top: solid 1px $color-brown-light
	// 	&:first-child
	// 		border: 0
	// .press-box img
	// 	width: 100%
	// #mainfooter
	// 	height: auto
	// 	text-align: center
	// 	margin: 0
	// 	.get-support
	// 		margin-bottom: emCalc(30px)
	// 	.socnet
	// 		display: inline-block
	// 		float: none
	// 		margin: 0 auto emCalc(30px)!important
	// .about-notificare
	// 	float: none
	// 	> div
	// 		width: 100%
	// 		float: none
	// 		margin-bottom: emCalc(30px)
	// 		text-align: center
	// .menu-footer
	// 	width: 100%
	// 	float: none
	// 	padding: 0
	// 	border: 0
	// 	.navi, .users
	// 		display: none
	// 	.get-support
	// 		width: 100%
	// 		float: none
	// 		text-align: center
	// %fullblock
	// 	width: 94%
	// 	padding: emCalc(15px) 3%
	// .free-plan, .testimonials, .content-wrapper, .sidebar
	// 	@extend %fullblock
	// 	margin-left: 0
	// 	.author-img
	// 		display: none
	// .testimonials
	// 	.carousel, .carousel-content
	// 		display: block
	// .sidebar
	// 	overflow: hidden
	// .your-order
	// 	margin-bottom: -20px
	// .intro-page > h2
	// 	font-size: emCalc(50px)
	// // Plans & pricing
	// .free-plan-top
	// 	width: 96%
	// 	padding: 2%
	// 	float: none
	// 	clear: both
	// .plans-lists
	// 	text-align: center
	// 	ul
	// 		display: inline-block
	// 		margin-left: 0
	// 	li
	// 		width: 40%
	// .plan-details
	// 	width: 100%
	// .payment-info-top, .support
	// 	display: none
	// section.blogs, section.blog-post
	// 	article, .article-text
	// 		height: auto
	// 	article
	// 		padding: emCalc(20px)
	// 	h3
	// 		margin: emCalc(20px) 0 0
	// 	.article-img
	// 		display: none
	// 	.author-info, .readmore
	// 		position: static
	// section.features
	// 	padding: emCalc(40px) emCalc(20px)
	// form legend
	// 	font-size: emCalc(18px)

	// // Dashboard
	// .dashboard-navi
	// 	position: static
	// 	margin: 0 auto
	// .container-content
	// 	width: 92%
	// .container-side
	// 	width: 100%
	// 	ul
	// 		top: emCalc(-48px)
	// 		right: 0
	// 		position: absolute
	// 	li
	// 		float: left
	// 		&.active a,
	// 		&:hover a
	// 			background: #fff
	// .dashboard-menu a
	// 	border: 0

	// // Contact page
	// .contactus
	// 	width: 96%
	// 	background: $color-brown
	// 	color: #fff
	// 	padding: 2%
	// 	float: none
	// 	clear: left
	// .aboutus
	// 	width: 100%

@media screen and (max-width: 630px)
	body.newhome #mainheader
		padding-bottom: 25px
	.plans-lists > ul
		width: 100%
	.togglemenu
		display: block
	#mainheader .menu
		display: none
		&.show
			display: block
		ul
			padding-left: 0
		li
			float: none
		.submenu
			border: 0
	.features-box, .download-image, .press-box, .img-feature, .quicklink, .facebook-box, .map-image
		display: none
	.download-app .appstore, .updates
		margin-top: emCalc(30px)
	.intro-page > h2
		font-size: emCalc(38px)
	.plans-lists li
		width: 80%
		float: none
		margin: 0 auto emCalc(20px) !important
	.plan-details
		width: 100%
		.dashboard-carousel
			li
				max-width: 500px
	.img-dashboard-feat
		width: emCalc(300px)

	.home-features
		ul .img-icon
			width: 90px
		h1
			font-size: 30px
		h2
			font-size: 20px
	.awesome-people
		li
			float: none
			text-align: center
	.awesome-person
		display: inline-block
