/* Media Queries */

//breakpoiint for ipad
@media (max-width: 979px)

@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation: landscape)
	.home
		
		.carousel
			height: 400px
			
			.item
				height: 400px
				
			.carousel-inner > .item > img
				height: 400px
				
			.carousel-control
				height: 400px
				
				span
					display: block
					margin-top: 220px

				&.right
					span
						right: 3px
					
				
			.carousel-caption 
				&.right
					.carousel-caption-content
						width: 70%
						text-align: left
						margin: -200px 50%
						
						h1
							font-size: 28px
						p
							font-size: 16px
						
					.animation
						position: absolute
						margin: -310px -280px
						
						img
							max-width: 75%
						
	.home-content
		.featurette
			.featurette-heading
				font-size: 34px
			.lead
				font-size: 16px
				line-height: 22px

	.plans
		.payment-info
			img
				margin: 31px 0 32px 0
		.plan-description
			font-size: 14px
			
		.plan-overview
			.plan-details
				font-size: 12px
				.platforms
					margin: 0 0 0 30px
			
		
	.testimonials-pricing
		.carousel-caption 
			h3
				margin: 25px 0 0 60px
				line-height: 24px
				font-size: 18px
			p
				margin: 0 0 0 60px
				line-height: 18px
				font-size: 13px
	.support
		p
			font-size: 14px		
	
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation: portrait)
	.home
		
		.carousel-caption 
			&.right
				.carousel-caption-content
					width: 70%
					text-align: left
					margin: -300px 50%
					
				.animation
					position: absolute
					margin: -310px -280px
					
					img
						max-width: 65%
