<div class="map-image">
	<img src="../images/alab.jpg" alt="A lab Amsterdam">
</div>

<div class="facebook-box">
	<p>Notificare is currently based in Amsterdam, The Netherlands. Don't hesitate to drop by our office when you're around town. Bring some candy!</p>
	<iframe src="//www.facebook.com/plugins/likebox.php?href=http%3A%2F%2Fwww.facebook.com%2Fnotificare&amp;width=630&amp;height=258&amp;show_faces=true&amp;colorscheme=light&amp;stream=false&amp;border_color&amp;header=false&amp;appId=435842839804626" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:630px; height:258px;" allowTransparency="true"></iframe>
</div>