<!-- FOOTER -->
<div class="container">
		<div class="col-sm-3">
			<h3>Visit us</h3>
			<p>
				Overhoeksplein 2
				<br>
				1031 KS Amsterdam
				<br>
				the Netherlands
			</p>
		</div>
		<div class="col-sm-3">
			<h3>Mail us</h3>
			<p>
				PO Box 474
				<br>
				3000 AL Rotterdam
				<br>
				the Netherlands
			</p>
		</div>
		<div class="col-sm-3 margin-on-xs">
			<h3>Sales</h3>
			<p>
				NL: <a href="tel:+31854013414">+31854013414</a>
				<br>
				USA: <a href="tel:+1(512)7746127">+1 (512) 774 61 27</a>
			</p>
			
<!-- 			<h3>Newsletter</h3>
			<div class="newsletter-form">
				<script type="text/javascript" src="http://sendgrid.com/newsletter/getSubscriptionWidget?p=Su5b7rH8u4tg0dir%2BqDqijFH3clnVkwAn7BC4wG3P02aRwGL2gUhBIuHNKwfwW2t"></script>
			</div> -->
		</div>
		<div class="col-sm-3 line hidden-xs">
			<ul class="footer-sitemap">
				<li>
					<a href="/">Home</a>
				</li>
                <li>
                    <a href="/features">Features</a>
                </li>
                <li>
					<a href="/pricing">Pricing</a>
				</li>
				<li>
					<a href="/blog">Blog</a>
				</li>
				<li>
					<a href="/contact">Contact</a>
				</li>
                <li>
                    <a href="http://careers.notifica.re">Careers</a>
                </li>
				<li>
					<a href="https://dashboard.notifica.re/#/auth">Sign in</a>
				</li>
				<li>
					<a href="/sign-up">Sign up</a>
				</li>
			</ul>
			<ul class="footer-support">
				<li><a href="http://support.notifica.re" class="external">Support</a></li>
				<li><a href="http://developers.notifica.re" class="external">Developer documentation</a></li>
			</ul>
		</div>
		<div class="footer-accessories">
			<ul class="social-networks">
				<li><a href="http://twitter.com/notificare" class="twitter external"></a></li>
				<li><a href="http://facebook.com/notificare" class="facebook external"></a></li>
				<li><a href="https://plus.google.com/b/115713736533304956393/115713736533304956393" class="googleplus external"></a></li>
				<li><a href="https://vimeo.com/notificare" class="vimeo external"></a></li>
				<li><a href="http://www.linkedin.com/company/notificare-b-v-" class="linkedin external"></a></li>
			</ul>
	
			<div class="copyright">
				&copy; 2013 Notificare<br>
				Read our <a href="/terms">Terms and Conditions</a>, <a href="/privacy">Privacy Policy</a> and <a href="/cookies">Cookie Policy</a>
			</div>
		</div>
</div>
