<footer id="mainfooter" class="mainfooter">
	<div class="wrap">

		<div class="about-notificare">
			<div>
				<h2>Visit us</h2>
				<p>
					A-LAB
					<br>
					Overhoeksplein 2
					<br>
					1035 KS Amsterdam
				</p>
			</div>

			<div>
				<h2>Mail us</h2>
				<p>
					PO Box 474
					<br>
					3000 AL Rotterdam
					<br>
					The Netherlands
				</p>
			</div>

			<div>
				<h2>Sales</h2>
				<p>
					NL: <a href="tel:+31854013414">+31854013414</a>
					<br>
					USA: <a href="tel:+1 (512) 774 61 27">+1 (512) 774 61 27</a>
				</p>
			</div>
		</div>

		<nav class="menu-footer">
			<ul class="navi">
				<li>
					<a href="/">Home</a>
				</li>
				<li>
					<a href="/pricing">Plans &amp; Pricing</a>
				</li>
				<li>
					<a href="/blog">Blog</a>
				</li>
				<li>
					<a href="/contact">Contact</a>
				</li>
				<li>
					<a href="https://dashboard.notifica.re/">Sign in</a>
				</li>
			</ul>
			<ul class="users">
				<li><a href="https://dashboard.notifica.re/">Sign in</a></li>
				<li><a href="https://dashboard.notifica.re/">Sign up</a></li>
			</ul>
			<ul class="get-support">
				<li><a href="http://support.notifica.re" class="external">Support</a></li>
				<li><a href="http://developers.notifica.re" class="external">Developer documentation</a></li>
			</ul>
		</nav>

		<ul class="socnet">
			<li><a href="http://twitter.com/notificare" class="twitter external"></a></li>
			<li><a href="http://facebook.com/notificare" class="facebook external"></a></li>
			<li><a href="https://plus.google.com/b/115713736533304956393/115713736533304956393" class="googleplus external"></a></li>
			<li><a href="https://vimeo.com/notificare" class="vimeo external"></a></li>
			<li><a href="http://www.linkedin.com/company/notificare-b-v-" class="linkedin external"></a></li>
			<!-- <li><a href="#" class="youtube external"></a></li> -->
			<!-- <li><a href="#" class="rss external"></a></li> -->
		</ul>

		<div class="copyright">
			&copy; 2013 Notificare <!-- - Made with <span class="love">love</span> in Rotterdam--><br>
			Read our <a href="/terms">Terms and Conditions</a>, <a href="/privacy">Privacy Policy</a> and <a href="/cookies">Cookie Policy</a>
		</div>
	</div>
</footer>
