<script type="text/javascript" src="//maps.googleapis.com/maps/api/js?sensor=false"></script>
{% if site.env == 'production' %}
<script type="text/javascript" src="/build/lib.js"></script>
<script type="text/javascript" src="/build/classes.js"></script>
{% else %}
<script type="text/javascript" src="/debug/lib.js"></script>
<script type="text/javascript" src="/debug/classes.js"></script>
{% endif %}
<script type="text/javascript" src="//dashboard.notifica.re/resources/js/jquery.pwstrength.bootstrap.min.js"></script>