<script type="text/javascript" src="//maps.googleapis.com/maps/api/js?sensor=false"></script>
{% if site.env == 'production' %}
<script type="text/javascript" src="/build/lib.js"></script>
<script type="text/javascript" src="/build/classes.js"></script>
{% else %}
<script type="text/javascript" src="/debug/lib.js"></script>
<script type="text/javascript" src="/debug/classes.js"></script>
{% endif %}
<script type="text/javascript" src="//dashboard.notifica.re/resources/js/jquery.pwstrength.bootstrap.min.js"></script>
<!-- Google Code for Submits trial sign up form Conversion Page -->
<script type="text/javascript">
    /* <![CDATA[ */
    goog_snippet_vars = function() {
        var w = window;
        w.google_conversion_id = 970402719;
        w.google_conversion_label = "RtBMCIKxj10Qn9fczgM";
        w.google_remarketing_only = false;
    }
    // DO NOT CHANGE THE CODE BELOW.
    goog_report_conversion = function(url) {
        goog_snippet_vars();
        window.google_conversion_format = "3";
        window.google_is_call = true;
        var opt = new Object();
        opt.onload_callback = function() {
            if (typeof(url) != 'undefined') {
                window.location = url;
            }
        }
        var conv_handler = window['google_trackConversion'];
        if (typeof(conv_handler) == 'function') {
            conv_handler(opt);
        }
    }
    /* ]]> */
</script>
<script type="text/javascript"
        src="//www.googleadservices.com/pagead/conversion_async.js">
</script>