<a href="" class="togglemenu">Show Menu</a>
<nav class="menu" id="mainmenu">
	<ul>
		<li>
			<a href="/"{% if page.path == '/' %}class="active"{% endif %}>Home</a>
		</li>
		<li>
			<a href="/pricing"{% if page.path == '/pricing' %}class="active"{% endif %}>Plans &amp; Pricing</a>
		</li>
		<li>
			<a href="/blog"{% if page.path == '/blog' %}class="active"{% endif %}>Blog</a>
		</li>
		<li>
			<a href="/contact"{% if page.path == '/contact' %}class="active"{% endif %}>Contact</a>
		</li>
		<li>
			<a href="https://dashboard.notifica.re/">Sign in</a>
		</li>
	</ul>
</nav>
