<div class="plans-block">
	<div id="free_plan1" class="free-plan-top">
		<h2>Free Push</h2>
		<p>Our free plan can provide unlimited notifications to unlimited devices up to 5,000 users. Accelerate your development time with our easy to use libraries, scale whenever you want and attract more customers with our smart notifications.</p>
		<div class="order-plan">
			<a href="https://dashboard.notifica.re/#/sign-up">Get it now</a>
		</div>
	</div>
	<div class="payment-info-top">
		<h3>We accept all major cards</h3>
		<img src="/images/payment_cards.png" alt="">
		<p>We won't ask your credit card until you've subscribed to a paid plan.</p>
	</div>
	<div class="plans-lists">
		<ul>
		{% for plan in site.data.plans %}
			<li>
				<article>
					<header>
						<h2>{{ plan.name | escape }}</h2>
						<div class="plan-price">
							<p>
								<span class="currency">$</span><span class="price">{{ plan.price }}</span><span class="month">/mo</span>
							</p>
						</div>
					</header>

					<div class="plan-description">
						<p>{{ plan.description | escape }}</p>
					</div>

					<div class="plan-details">
						<dl class="def-list">
							<dt>Platforms</dt>
							<dd class="platforms">
								{% for platform in plan.platforms %}
									<span class="{{ platform }}"></span>
								{% endfor %}
							</dd>

							<dt>Users</dt>
							<dd class="users">{{ plan.users }}</dd>

							<dt>Devices</dt>
							<dd>unlimited</dd>

							<dt>Notifications</dt>
							<dd>{{ plan.notifications }}</dd>

							<dt>API access</dt>
							<dd>{{ plan.api_access }}</dd>

							<dt>Storage</dt>
							<dd>{{ plan.storage }} GB</dd>

							<dt>Websockets</dt>
							<dd>{{ plan.websockets }} concurrent connections</dd>
							
							<dt>Smartness</dt>
							<dd class="smartness">
								<ul class="feature-pushes">
	{% for smartness in plan.smartness %}
									<li class="active"><span class="{{ smartness.icon }}"></span>{{ smartness.name | escape }}</li>
	{% endfor %}
								</ul>
							</dd>
						</dl>

						<div class="order-plan">
							<a href="https://dashboard.notifica.re/#/sign-up/{{ plan.url }}">Get it now</a>
						</div>

					</div>

				</article>
			</li>
		{% endfor %}
		</ul>		
	</div>

	<div class="call-us">
		<h2>Questions? Give us a call +1 (512) 774 61 27</h2>
	</div>
</div>
