---
layout: simple
path: /pricing
title: Plans & Pricing
description: Discover how you can save development time and unleash the power of Smart Push Notifications. Start for free, upgrade, downgrade or cancel at anytime.
keywords: pricing, service, platform
text_kop: Plans & Pricing
---
<p class="main-text">Try Notificare for free for 30 days, upgrade, downgrade or cancel at anytime.</p>
<div class="plans">
    <div class="row">
        <div class="pull-right currency-selector hidden-sm  hidden-xs">
            <select name="country" class="currency-change">
                <option value="USD">USD</option>
                <option selected="" value="EUR">EUR</option>
            </select>
        </div>
    </div>
    <div class="row visible-sm visible-xs">
        <div class="currency-selector-mobile">
            <select name="country" class="currency-change">
                <option value="USD">USD</option>
                <option selected="" value="EUR">EUR</option>
            </select>
        </div>
    </div>
	<div class="row">

        <div class="col-sm-2 hidden-xs hidden-sm">

            <div class="plan-details big-pricing-legend">
                <div class="row">
                    <div class="col-xs-12">
                        <label>Platforms</label>
                    </div>

                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <label>Active users</label>
                    </div>

                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <label>Devices</label>
                    </div>

                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <label>Notifications</label>
                    </div>

                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <label>API access</label>
                    </div>

                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <label>Storage</label>
                    </div>

                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <label>HTML 5 websocket</label>
                    </div>

                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <label>Geo-fences</label>
                    </div>

                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <label>Email support</label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <label>Premium support</label>
                    </div>

                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <label>iBeacon hardware</label>
                    </div>

                </div>
            </div>

        </div>
		{% for plan in site.data.plans %}
		<div class="col-md-2">
			<div class="box white pricing-table-headers">
				<h2 class="plan-name">{{ plan.name | escape }}</h2>
				<div class="plan-price">
					<p>
                        <span class="euro"><span class="currency">&euro;</span><span class="price">{{ plan.eurprice }}</span></span>
                        <span class="dollar" style="display: none;"><span class="currency">$</span><span class="price">{{ plan.price }}</span></span><span class="month">/mo</span>
					</p>
				</div>

			</div>
			<div class="box plan-overview brown-lighter">
				<div class="plan-details">
					<div class="row">
						<div class="col-xs-4 visible-xs col-sm-4 visible-sm">
							<label>Platforms</label>
						</div>
						<div class="col-xs-8 col-sm-8 col-md-12 ">
							<div class="platforms">
								{% for platform in plan.platforms %}
									<span class="{{ platform }}"></span>
								{% endfor %}
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-xs-6 visible-xs col-sm-6 visible-sm">
							<label>Active users</label>
						</div>
						<div class="col-xs-6 col-md-12 col-sm-6">
							<div class="values users">{{ plan.users }}</div>
						</div>
					</div>
					<div class="row">
						<div class="col-xs-6 visible-xs col-sm-6 visible-sm">
							<label>Devices</label>
						</div>
						<div class="col-xs-6 col-md-12 col-sm-6">
							<div class="values">unlimited</div>
						</div>
					</div>
					<div class="row">
						<div class="col-xs-6 visible-xs col-sm-6 visible-sm">
							<label>Notifications</label>
						</div>
						<div class="col-xs-6 col-md-12 col-sm-6">
							<div class="values">{{ plan.notifications }}</div>
						</div>
					</div>
					<div class="row">
						<div class="col-xs-6 visible-xs col-sm-6 visible-sm">
							<label>API access</label>
						</div>
						<div class="col-xs-6 col-md-12 col-sm-6">
							<div class="values">{% if plan.api_access %}yes{% else %}no{% endif %}</div>
						</div>
					</div>
					<div class="row">
						<div class="col-xs-6 visible-xs col-sm-6 visible-sm">
							<label>Storage</label>
						</div>
						<div class="col-xs-6 col-md-12 col-sm-6">
							<div class="values">{{ plan.storage }} GB</div>
						</div>
					</div>
					<div class="row">
						<div class="col-xs-6 visible-xs col-sm-6 visible-sm">
							<label>HTML 5 websocket</label>
						</div>
						<div class="col-xs-6 col-md-12 col-sm-6">
							<div class="values">{%if plan.websockets == 'none' %}none{% else %}{{ plan.websockets }} concurrent{% endif %}</div>
						</div>
					</div>
					<div class="row">
						<div class="col-xs-6 visible-xs col-sm-6 visible-sm">
							<label>Geo-fences</label>
						</div>
						<div class="col-xs-6 col-md-12 col-sm-6">
							<div class="values">{{ plan.geotriggers }}</div>
						</div>
					</div>
					<div class="row">
						<div class="col-xs-6 visible-xs col-sm-6 visible-sm">
							<label>Email support</label>
						</div>
						<div class="col-xs-6 col-md-12 col-sm-6">
							<div class="values">{% if plan.emailsupport %}yes{% else %}no{% endif %}</div>
						</div>
					</div>
					<div class="row">
						<div class="col-xs-6 visible-xs col-sm-6 visible-sm">
							<label>Premium support</label>
						</div>
						<div class="col-xs-6 col-md-12 col-sm-6">
							<div class="values">{% if plan.support %}yes{% else %}no{% endif %}</div>
						</div>
					</div>
					<div class="row">
						<div class="col-xs-6 visible-xs col-sm-6 visible-sm">
							<label>iBeacon hardware</label>
						</div>
						<div class="col-xs-6 col-md-12 col-sm-6">
							<div class="values">{{ plan.beacons }}</div>
						</div>
					</div>
				</div>
				<div class="order-button">
					<a rel="{{ plan.plan | escape }}" class="btn btn-lg btn-primary btn-order" href="//dashboard.notifica.re/#/sign-up/{{plan.name}}" role="button">Try it now</a>
				</div>
			</div>
		</div>
		{% endfor %}
	</div>
    <div class="row">
        <div class="col-md-12">
           <div class="pull-right">Prices exclude VAT (if applicable)</div>
        </div>
    </div>
	<div class="row">
		<div class="col-md-8">
			<div class="box white">
				<h2 class="plan-name">Enterprise & High Volume</h2>
				<p>If the plans above can not satisfy your needs, if you have more than 100,000 active users, massive demand, need for priority support or an enterprise level infrastructure, we can offer custom Service Level Agreements, in-house hosted solutions or consultancy for implementations of push notifications systems. <br /><br />Please feel free to contact our sales department and we will be happy to hear your requirements and offer you the best quote for your specific case.</p>
				<div class="order-button">
					<a class="btn btn-lg btn-primary pull-right" href="mailto:sales@notifica.re" role="button">Contact Sales</a>
				</div>
			</div>
		</div>
		<div class="col-md-4">
			<div class="box payment-info white">
				<h4>We accept all major cards</h4>
				<img class="img-responsive" src="/images/payment_cards.png" alt="">
				<p>We will not require your credit card until your <br />30 day trial period ends.</p>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<div class="box questions">
				<h2>Questions about our pricing? Give us a call +1 (512) 774 61 27</h2>
			</div>
		</div>
	</div>
</div>
<div class="testimonials-pricing">
	<div class="row">
		<div class="col-sm-8">
			<div class="box white">
				<h2 class="testimonial-header">What our customers say</h2>
								<!-- Carousel
				================================================== -->
				<div id="testimonialsCarousel" class="carousel carousel-testimonials slide" data-ride="carousel">
					<!-- Indicators -->
					<ol class="carousel-indicators">
						{% for item in site.data.testimonials %}
						<li data-target="#testimonialsCarousel" data-slide-to="{{forloop.index0}}" {% if forloop.first %}class="active"{% endif %}></li>
						{% endfor %}
					</ol>
					<div class="carousel-inner">
					
						{% for item in site.data.testimonials %}
							<div class="item {% if forloop.first %}active{% endif %}">
								<img class="img-circle" src="{{ item.image }}" alt="{{ item.name }}">
								<div class="container">
									<div class="carousel-caption">
										<h3>{{item.name}}</h3>
										<p>{{ item.text }}</p>
									</div>
								</div>
							</div>
						{% endfor %}
						
					</div>
				</div><!-- /.carousel -->


			</div>
		</div>
		<div class="col-sm-4">
			<div class="box white support">
				<h2 class="testimonial-header">Support</h2>
				<p>
					Our staff can help you implement the best mobile messaging strategy, advise on technical issues or just listen to any feedback you might have.</p><p>So if you have any questions don't hesitate and contact us  at <a href="mailto:support@notifica.re">support@notifica.re</a>
				</p>
			</div>
		</div>
	</div>


    <div id="modal-signup" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title">Your Choice:</h4>
                </div>
                <div class="modal-body signup-form">

                    <!--<div id="signup-alert-info" class="alert alert-info alert-dismissible" role="alert">-->
                        <!--<button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>-->
                        <!--You can try this plan for free for 30 days. We will only start asking for your credit card information 8 days before this trial period ends.-->
                    <!--</div>-->

                    <div id="signup-alert-error" style="display: none;" class="alert alert-danger" role="alert">
                        Please correct the following fields:
                    </div>

                    <div id="signup-alert-success" style="display: none;" class="alert alert-success" role="alert">
                        Your account has been created.
                    </div>

                    <form id="signup" action="{% if site.env == 'production' %}https://dashboard.notifica.re/api/accounts{% else %}http://localhost:4000/api/accounts{% endif %}" method="post">
                        <input type='hidden' name='plan' />
                        <div class="row">
                        <div class="col-xs-12">
                            <label>
                                Company
                                <input type='text' name='company' />
                            </label>
                        </div>
                        </div>
                        <div class="row">
                        <div class="col-xs-6">
                            <label>
                                First name
                                <input type='text' name='firstname' />
                            </label>
                        </div>

                        <div class="col-xs-6">
                            <label>
                                Last name
                                <input type='text' name='lastname' />
                            </label>
                        </div>
                        </div>
                        <div class="row">
                        <div class="col-xs-6">
                            <label>
                                Country
                                <select name="country">
                                    <option value="AF">Afghanistan</option>
                                    <option value="AX">Åland Islands</option>
                                    <option value="AL">Albania</option>
                                    <option value="DZ">Algeria</option>
                                    <option value="AS">American Samoa</option>
                                    <option value="AD">Andorra</option>
                                    <option value="AO">Angola</option>
                                    <option value="AI">Anguilla</option>
                                    <option value="AQ">Antarctica</option>
                                    <option value="AG">Antigua and Barbuda</option>
                                    <option value="AR">Argentina</option>
                                    <option value="AM">Armenia</option>
                                    <option value="AW">Aruba</option>
                                    <option value="AU">Australia</option>
                                    <option value="AT">Austria</option>
                                    <option value="AZ">Azerbaijan</option>
                                    <option value="BS">Bahamas</option>
                                    <option value="BH">Bahrain</option>
                                    <option value="BD">Bangladesh</option>
                                    <option value="BB">Barbados</option>
                                    <option value="BY">Belarus</option>
                                    <option value="BE">Belgium</option>
                                    <option value="BZ">Belize</option>
                                    <option value="BJ">Benin</option>
                                    <option value="BM">Bermuda</option>
                                    <option value="BT">Bhutan</option>
                                    <option value="BO">Bolivia, Plurinational State of</option>
                                    <option value="BQ">Bonaire, Sint Eustatius and Saba</option>
                                    <option value="BA">Bosnia and Herzegovina</option>
                                    <option value="BW">Botswana</option>
                                    <option value="BV">Bouvet Island</option>
                                    <option value="BR">Brazil</option>
                                    <option value="IO">British Indian Ocean Territory</option>
                                    <option value="BN">Brunei Darussalam</option>
                                    <option value="BG">Bulgaria</option>
                                    <option value="BF">Burkina Faso</option>
                                    <option value="BI">Burundi</option>
                                    <option value="KH">Cambodia</option>
                                    <option value="CM">Cameroon</option>
                                    <option value="CA">Canada</option>
                                    <option value="CV">Cape Verde</option>
                                    <option value="KY">Cayman Islands</option>
                                    <option value="CF">Central African Republic</option>
                                    <option value="TD">Chad</option>
                                    <option value="CL">Chile</option>
                                    <option value="CN">China</option>
                                    <option value="CX">Christmas Island</option>
                                    <option value="CC">Cocos (Keeling) Islands</option>
                                    <option value="CO">Colombia</option>
                                    <option value="KM">Comoros</option>
                                    <option value="CG">Congo</option>
                                    <option value="CD">Congo, the Democratic Republic of the</option>
                                    <option value="CK">Cook Islands</option>
                                    <option value="CR">Costa Rica</option>
                                    <option value="CI">Côte d'Ivoire</option>
                                    <option value="HR">Croatia</option>
                                    <option value="CU">Cuba</option>
                                    <option value="CW">Curaçao</option>
                                    <option value="CY">Cyprus</option>
                                    <option value="CZ">Czech Republic</option>
                                    <option value="DK">Denmark</option>
                                    <option value="DJ">Djibouti</option>
                                    <option value="DM">Dominica</option>
                                    <option value="DO">Dominican Republic</option>
                                    <option value="EC">Ecuador</option>
                                    <option value="EG">Egypt</option>
                                    <option value="SV">El Salvador</option>
                                    <option value="GQ">Equatorial Guinea</option>
                                    <option value="ER">Eritrea</option>
                                    <option value="EE">Estonia</option>
                                    <option value="ET">Ethiopia</option>
                                    <option value="FK">Falkland Islands (Malvinas)</option>
                                    <option value="FO">Faroe Islands</option>
                                    <option value="FJ">Fiji</option>
                                    <option value="FI">Finland</option>
                                    <option value="FR">France</option>
                                    <option value="GF">French Guiana</option>
                                    <option value="PF">French Polynesia</option>
                                    <option value="TF">French Southern Territories</option>
                                    <option value="GA">Gabon</option>
                                    <option value="GM">Gambia</option>
                                    <option value="GE">Georgia</option>
                                    <option value="DE">Germany</option>
                                    <option value="GH">Ghana</option>
                                    <option value="GI">Gibraltar</option>
                                    <option value="GR">Greece</option>
                                    <option value="GL">Greenland</option>
                                    <option value="GD">Grenada</option>
                                    <option value="GP">Guadeloupe</option>
                                    <option value="GU">Guam</option>
                                    <option value="GT">Guatemala</option>
                                    <option value="GG">Guernsey</option>
                                    <option value="GN">Guinea</option>
                                    <option value="GW">Guinea-Bissau</option>
                                    <option value="GY">Guyana</option>
                                    <option value="HT">Haiti</option>
                                    <option value="HM">Heard Island and McDonald Islands</option>
                                    <option value="VA">Holy See (Vatican City State)</option>
                                    <option value="HN">Honduras</option>
                                    <option value="HK">Hong Kong</option>
                                    <option value="HU">Hungary</option>
                                    <option value="IS">Iceland</option>
                                    <option value="IN">India</option>
                                    <option value="ID">Indonesia</option>
                                    <option value="IR">Iran, Islamic Republic of</option>
                                    <option value="IQ">Iraq</option>
                                    <option value="IE">Ireland</option>
                                    <option value="IM">Isle of Man</option>
                                    <option value="IL">Israel</option>
                                    <option value="IT">Italy</option>
                                    <option value="JM">Jamaica</option>
                                    <option value="JP">Japan</option>
                                    <option value="JE">Jersey</option>
                                    <option value="JO">Jordan</option>
                                    <option value="KZ">Kazakhstan</option>
                                    <option value="KE">Kenya</option>
                                    <option value="KI">Kiribati</option>
                                    <option value="KP">Korea, Democratic People's Republic of</option>
                                    <option value="KR">Korea, Republic of</option>
                                    <option value="KW">Kuwait</option>
                                    <option value="KG">Kyrgyzstan</option>
                                    <option value="LA">Lao People's Democratic Republic</option>
                                    <option value="LV">Latvia</option>
                                    <option value="LB">Lebanon</option>
                                    <option value="LS">Lesotho</option>
                                    <option value="LR">Liberia</option>
                                    <option value="LY">Libya</option>
                                    <option value="LI">Liechtenstein</option>
                                    <option value="LT">Lithuania</option>
                                    <option value="LU">Luxembourg</option>
                                    <option value="MO">Macao</option>
                                    <option value="MK">Macedonia, the former Yugoslav Republic of</option>
                                    <option value="MG">Madagascar</option>
                                    <option value="MW">Malawi</option>
                                    <option value="MY">Malaysia</option>
                                    <option value="MV">Maldives</option>
                                    <option value="ML">Mali</option>
                                    <option value="MT">Malta</option>
                                    <option value="MH">Marshall Islands</option>
                                    <option value="MQ">Martinique</option>
                                    <option value="MR">Mauritania</option>
                                    <option value="MU">Mauritius</option>
                                    <option value="YT">Mayotte</option>
                                    <option value="MX">Mexico</option>
                                    <option value="FM">Micronesia, Federated States of</option>
                                    <option value="MD">Moldova, Republic of</option>
                                    <option value="MC">Monaco</option>
                                    <option value="MN">Mongolia</option>
                                    <option value="ME">Montenegro</option>
                                    <option value="MS">Montserrat</option>
                                    <option value="MA">Morocco</option>
                                    <option value="MZ">Mozambique</option>
                                    <option value="MM">Myanmar</option>
                                    <option value="NA">Namibia</option>
                                    <option value="NR">Nauru</option>
                                    <option value="NP">Nepal</option>
                                    <option selected="" value="NL">Netherlands</option>
                                    <option value="NC">New Caledonia</option>
                                    <option value="NZ">New Zealand</option>
                                    <option value="NI">Nicaragua</option>
                                    <option value="NE">Niger</option>
                                    <option value="NG">Nigeria</option>
                                    <option value="NU">Niue</option>
                                    <option value="NF">Norfolk Island</option>
                                    <option value="MP">Northern Mariana Islands</option>
                                    <option value="NO">Norway</option>
                                    <option value="OM">Oman</option>
                                    <option value="PK">Pakistan</option>
                                    <option value="PW">Palau</option>
                                    <option value="PS">Palestinian Territory, Occupied</option>
                                    <option value="PA">Panama</option>
                                    <option value="PG">Papua New Guinea</option>
                                    <option value="PY">Paraguay</option>
                                    <option value="PE">Peru</option>
                                    <option value="PH">Philippines</option>
                                    <option value="PN">Pitcairn</option>
                                    <option value="PL">Poland</option>
                                    <option value="PT">Portugal</option>
                                    <option value="PR">Puerto Rico</option>
                                    <option value="QA">Qatar</option>
                                    <option value="RE">Réunion</option>
                                    <option value="RO">Romania</option>
                                    <option value="RU">Russian Federation</option>
                                    <option value="RW">Rwanda</option>
                                    <option value="BL">Saint Barthélemy</option>
                                    <option value="SH">Saint Helena, Ascension and Tristan da Cunha</option>
                                    <option value="KN">Saint Kitts and Nevis</option>
                                    <option value="LC">Saint Lucia</option>
                                    <option value="MF">Saint Martin (French part)</option>
                                    <option value="PM">Saint Pierre and Miquelon</option>
                                    <option value="VC">Saint Vincent and the Grenadines</option>
                                    <option value="WS">Samoa</option>
                                    <option value="SM">San Marino</option>
                                    <option value="ST">Sao Tome and Principe</option>
                                    <option value="SA">Saudi Arabia</option>
                                    <option value="SN">Senegal</option>
                                    <option value="RS">Serbia</option>
                                    <option value="SC">Seychelles</option>
                                    <option value="SL">Sierra Leone</option>
                                    <option value="SG">Singapore</option>
                                    <option value="SX">Sint Maarten (Dutch part)</option>
                                    <option value="SK">Slovakia</option>
                                    <option value="SI">Slovenia</option>
                                    <option value="SB">Solomon Islands</option>
                                    <option value="SO">Somalia</option>
                                    <option value="ZA">South Africa</option>
                                    <option value="GS">South Georgia and the South Sandwich Islands</option>
                                    <option value="SS">South Sudan</option>
                                    <option value="ES">Spain</option>
                                    <option value="LK">Sri Lanka</option>
                                    <option value="SD">Sudan</option>
                                    <option value="SR">Suriname</option>
                                    <option value="SJ">Svalbard and Jan Mayen</option>
                                    <option value="SZ">Swaziland</option>
                                    <option value="SE">Sweden</option>
                                    <option value="CH">Switzerland</option>
                                    <option value="SY">Syrian Arab Republic</option>
                                    <option value="TW">Taiwan, Province of China</option>
                                    <option value="TJ">Tajikistan</option>
                                    <option value="TZ">Tanzania, United Republic of</option>
                                    <option value="TH">Thailand</option>
                                    <option value="TL">Timor-Leste</option>
                                    <option value="TG">Togo</option>
                                    <option value="TK">Tokelau</option>
                                    <option value="TO">Tonga</option>
                                    <option value="TT">Trinidad and Tobago</option>
                                    <option value="TN">Tunisia</option>
                                    <option value="TR">Turkey</option>
                                    <option value="TM">Turkmenistan</option>
                                    <option value="TC">Turks and Caicos Islands</option>
                                    <option value="TV">Tuvalu</option>
                                    <option value="UG">Uganda</option>
                                    <option value="UA">Ukraine</option>
                                    <option value="AE">United Arab Emirates</option>
                                    <option value="GB">United Kingdom</option>
                                    <option value="US">United States</option>
                                    <option value="UM">United States Minor Outlying Islands</option>
                                    <option value="UY">Uruguay</option>
                                    <option value="UZ">Uzbekistan</option>
                                    <option value="VU">Vanuatu</option>
                                    <option value="VE">Venezuela, Bolivarian Republic of</option>
                                    <option value="VN">Viet Nam</option>
                                    <option value="VG">Virgin Islands, British</option>
                                    <option value="VI">Virgin Islands, U.S.</option>
                                    <option value="WF">Wallis and Futuna</option>
                                    <option value="EH">Western Sahara</option>
                                    <option value="YE">Yemen</option>
                                    <option value="ZM">Zambia</option>
                                    <option value="ZW">Zimbabwe</option>
                                </select>
                            </label>
                        </div>


                        <div class="col-xs-6">
                            <label>
                                Telephone (optional)
                                <input type='text' name='telephone' />
                            </label>
                        </div>
                        </div>
                        <div class="row">
                        <div class="col-xs-12">
                            <label>
                                Email address
                                <input type='email' name='email' />
                            </label>
                        </div>
                        </div>
                        <div class="row">
                        <div class="col-xs-12">
                            <label class="#pwd-container">
                                Password
                                <input type='password' name='pass1' />
                                <div class="pwstrength-progress"></div>
                            </label>
                        </div>
                            </div>

                        <div class="row">
                        <div class="col-xs-12">
                            <label>
                                Confirm Password
                                <input type='password' name='pass2' />
                            </label>
                        </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary signup-form-button"><span class="glyphicon glyphicon-refresh icon-spinner" style="display: none;"></span>Create an account</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->


</div>