---
layout: simple
path: /pricing
title: Plans & Pricing
description: Discover how you can save development time and unleash the power of Smart Push Notifications. Start for free, upgrade, downgrade or cancel at anytime.
keywords: pricing, service, platform
text_kop: Plans & Pricing
---
<p class="main-text">Start for free, upgrade, downgrade or cancel at anytime.</p>
<div class="plans">
	<div class="row">
		<div class="col-sm-8">
			<div class="box white">
				<h2 class="plan-name">Free Push $0</h2>
				<p>Our free plan provides unlimited notifications to unlimited devices up to 5,000 active users. API access, storage of 5 GB, 20 concurrent websockets, 10 Geo-fences and basic email support. This plan is perfect for pilots, testing and a startup business.</p>
				<div class="order-button">
					<a class="btn btn-lg btn-primary pull-right" href="//dashboard.notifica.re/#/sign-up" role="button">Try it now</a>
				</div>
			</div>
		</div>
		<div class="col-sm-4">
			<div class="box payment-info white">
				<h4>We accept all major cards</h4>
				<img class="img-responsive" src="/images/payment_cards.png" alt="">
				<p>We won't ask your credit card until you've subscribed to a paid plan.</p>
			</div>
		</div>
	</div>
	<div class="row">
		{% for plan in site.data.plans %}
		<div class="col-sm-4">
			<div class="box white">
				<h2 class="plan-name">{{ plan.name | escape }}</h2>
				<div class="plan-price">
					<p>
						<span class="currency">$</span><span class="price">{{ plan.price }}</span><span class="month">/mo</span>
					</p>
				</div>
				<div class="plan-description">
					<p>{{ plan.description | escape }}</p>
				</div>
			</div>
			<div class="box plan-overview brown-lighter">
				<div class="plan-details">
					<div class="row">
						<div class="col-xs-4">
							<label>Platforms</label>
						</div>
						<div class="col-xs-8">
							<div class="platforms">
								{% for platform in plan.platforms %}
									<span class="{{ platform }}"></span>
								{% endfor %}
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-xs-6">
							<label>Active users</label>
						</div>
						<div class="col-xs-6">
							<div class="values users">{{ plan.users }}</div>
						</div>
					</div>
					<div class="row">
						<div class="col-xs-6">
							<label>Devices</label>
						</div>
						<div class="col-xs-6">
							<div class="values">unlimited</div>
						</div>
					</div>
					<div class="row">
						<div class="col-xs-6">
							<label>Notifications</label>
						</div>
						<div class="col-xs-6">
							<div class="values">{{ plan.notifications }}</div>
						</div>
					</div>
					<div class="row">
						<div class="col-xs-6">
							<label>API access</label>
						</div>
						<div class="col-xs-6">
							<div class="values">{{ plan.api_access }}</div>
						</div>
					</div>
					<div class="row">
						<div class="col-xs-6">
							<label>Storage</label>
						</div>
						<div class="col-xs-6">
							<div class="values">{{ plan.storage }} GB</div>
						</div>
					</div>
					<div class="row">
						<div class="col-xs-6">
							<label>HTML 5 websocket</label>
						</div>
						<div class="col-xs-6">
							<div class="values">{{ plan.websockets }} concurrent</div>
						</div>
					</div>
					<div class="row">
						<div class="col-xs-6">
							<label>Geo-fences</label>
						</div>
						<div class="col-xs-6">
							<div class="values">{{ plan.geotriggers }}</div>
						</div>
					</div>
					<div class="row">
						<div class="col-xs-6">
							<label>Premium support</label>
						</div>
						<div class="col-xs-6">
							<div class="values">{{ plan.support }}</div>
						</div>
					</div>
					<div class="row">
						<div class="col-xs-6">
							<label>iBeacon hardware</label>
						</div>
						<div class="col-xs-6">
							<div class="values">{{ plan.beacons }}</div>
						</div>
					</div>
				</div>
				<div class="order-button">
					<a class="btn btn-lg btn-primary btn-order" href="//dashboard.notifica.re/#/sign-up/{{plan.url}}" role="button">Get it now</a>
				</div>
			</div>
		</div>
		{% endfor %}
	</div>
	<div class="row">
		<div class="col-md-12">
			<div class="box white">
				<h2 class="plan-name">Enterprise & High Volume</h2>
				<p>For high volume, more than 100,000 active users, massive demand, priority support or an enterprise level infrastructure, we can offer custom Service Level Agreements, in-house hosted solutions or consultancy for enterprise grade implementations of push notifications systems. <br /><br />Please feel free to contact our sales department and we will be happy to hear your requirements and offer you the best quote for your specific case.</p>
				<div class="order-button">
					<a class="btn btn-lg btn-primary pull-right" href="mailto:sales@notifica.re" role="button">Contact Sales</a>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<div class="box questions">
				<h2>Questions about our pricing? Give us a call +1 (512) 774 61 27</h2>
			</div>
		</div>
	</div>
</div>
<div class="testimonials-pricing">
	<div class="row">
		<div class="col-sm-8">
			<div class="box white">
				<h2 class="testimonial-header">What our customers say</h2>
								<!-- Carousel
				================================================== -->
				<div id="testimonialsCarousel" class="carousel carousel-testimonials slide" data-ride="carousel">
					<!-- Indicators -->
					<ol class="carousel-indicators">
						{% for item in site.data.testimonials %}
						<li data-target="#testimonialsCarousel" data-slide-to="{{forloop.index0}}" {% if forloop.first %}class="active"{% endif %}></li>
						{% endfor %}
					</ol>
					<div class="carousel-inner">
					
						{% for item in site.data.testimonials %}
							<div class="item {% if forloop.first %}active{% endif %}">
								<img class="img-circle" src="{{ item.image }}" alt="{{ item.name }}">
								<div class="container">
									<div class="carousel-caption">
										<h3>{{item.name}}</h3>
										<p>{{ item.text }}</p>
									</div>
								</div>
							</div>
						{% endfor %}
						
					</div>
				</div><!-- /.carousel -->
			
			</div>
		</div>
		<div class="col-sm-4">
			<div class="box white support">
				<h2 class="testimonial-header">Support</h2>
				<p>
					Our staff can help you implement the best mobile messaging strategy, advise on technical issues or just listen to any feedback you might have.</p><p>So if you have any questions don't hesitate and contact us  at <a href="mailto:support@notifica.re">support@notifica.re</a>
				</p>
			</div>
		</div>
	</div>
</div>