// Base
// Font face
@font-face
	font-family: 'lavanderia_delicate'
	src: url('../fonts/lavanderia_delicate-webfont.eot')
	src: local('☺'), url('../fonts/lavanderia_delicate-webfont.woff') format('woff'), url('../fonts/lavanderia_delicate-webfont.ttf') format('truetype'), url('../fonts/lavanderia_delicate-webfont.svg') format('svg')
	font-style: normal

@font-face
	font-family: 'lavanderia_regular'
	src: url('../fonts/lavanderia_regular-webfont.eot')
	src: local('☺'), url('../fonts/lavanderia_regular-webfont.woff') format('woff'), url('../fonts/lavanderia_regular-webfont.ttf') format('truetype'), url('../fonts/lavanderia_regular-webfont.svg') format('svg')
	font-style: normal

@font-face
	font-family: 'lavanderia_sturdy'
	src: url('../fonts/lavanderia_sturdy-webfont.eot')
	src: local('☺'), url('../fonts/lavanderia_sturdy-webfont.woff') format('woff'), url('../fonts/lavanderia_sturdy-webfont.ttf') format('truetype'), url('../fonts/lavanderia_sturdy-webfont.svg') format('svg')
	font-style: normal

::-moz-selection
	background: $color-green
	color: #fff
	text-shadow: none

::selection
	background: $color-green
	color: #fff
	text-shadow: none

// Generic
body
	font-family: $font-family
	line-height: $default-line-height
	font-size: $default-font-size
	margin: 0
	color: $font-color
	background: $color-body
	font-weight: 200

a
	color: $color-blue-dark
	text-decoration: none

	&:hover
		color: $color-green
		-o-transition: .5s
		-ms-transition: .5s
		-moz-transition: .5s
		-webkit-transition: .5s
		/* ...and now for the proper property */
		transition: .5s

em
	font-style: none
	font-weight: bold

h1, h2, h3, h4
	font-family: $font-family
	margin-top: 0
	font-weight: 200
	line-height: 1.2em

h1
	font-size: emCalc(44px)

h2
	font-size: emCalc(30px)

h3
	font-size: emCalc(24px)
	
.main-content
	margin-top: 140px
	
.main-text
	font-size: 18px

#header.headroom
	position: fixed
	top: 0
	left: 0
	right: 0
	transition: all .2s ease-in-out

#header.headroom--unpinned
	top: -100px
	transition: all .2s ease-in-out

#header.headroom--pinned
	top: 0
	background: $color-brown-darkest
	transition: all .2s ease-in-out
	
	.navbar-nav
		li
			a	
				color: white
				&:hover
					background: $color-brown-dark
					color: white
			&.active
				a
					background: $color-brown-dark
					color: white
					&:hover
						background: $color-brown-dark
						color: white
			&:hover
				background: transparent
				
#header
	.navbar-brand
		width: 167px
		height: 75px
		display: block
		margin: 20px 0 0 0
		overflow: hidden
		text-indent: -999em
		background: url('/images/notificare_dashboard_logo.png') center no-repeat
		@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2/1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) 
			background: url('/images/notificare_dashboard_logo2x.png') center no-repeat
			background-size: 167px 75px
			
.img-responsive
	display: inline

footer
	.newsletter-form
		margin-top: -5px
		
		.SG_widget_form_success
			display: inline
			font-size: 12px
			line-height: 12px
			margin: -13px 0
			color: #fff
		.SG_widget_form_error
			display: inline
			font-size: 12px
			line-height: 12px
			margin: -13px 0
			color: #fff
		.SG_widget_form_submit
			display: inline
			width: 83px
			font-size: 14px
			margin: -5px 0 0 2px
			padding: 6px
			
		.SG_widget_form_input
			width: 170px

@-webkit-keyframes rotate
	from
		-webkit-transform: rotate(0deg)
	to
		-webkit-transform: rotate(360deg)

.icon-spinner
	margin: 0 10px 0 0
	-webkit-animation-name: rotate
	-webkit-animation-duration: 0.5s
	-webkit-animation-iteration-count: infinite
	-webkit-transition-timing-function: linear
