.icon
	margin-right: 5px
	
/* Special class on .container surrounding .navbar, used for positioning it into place. */
.navbar-wrapper 
	position: absolute
	top: 0
	left: 0
	right: 0
	z-index: 20


/* Flip around the padding for proper display in narrow viewports */
.navbar-wrapper .container 
	padding-left: 0
	padding-right: 0

.navbar-wrapper .navbar 
	padding-left: 15px
	padding-right: 15px

.navbar-header
	position: absolute
	margin-top: -22px
	
.navbar-toggle
	margin-top: 43px

.navbar-nav
	li
		margin: 5px
		a	
			+border-radius(5px)
			font-size: 18px
			color: $color-blue-dark
			&:hover
				background: white
				color: $color-blue-dark
				font-size: 18px
		&.active
			a
				+border-radius(5px)
				font-size: 18px
				background: $color-blue-dark
				color: white
				&:hover
					background: $color-blue-dark
					color: white
					font-size: 18px
		&:hover
			background: transparent
.btn
	border: none
	&.btn-default
		background: $color-brown
		&:hover
			color: white
			background: $color-brown-dark
	&.btn-primary
		background: $color-blue
		&:hover
			background: $color-blue-dark
	&.btn-success
		background: $color-green
		&:hover
			background: $color-green-dark
	&.btn-info
		background: $color-blue-light
		&:hover
			background: $color-blue

	&.btn-danger
		background: $color-red
		&:hover
			background: $color-red-dark
			
	&.btn-red
		background: $color-red
		&:hover
			background: $color-red-dark
	
	&.btn-red-dark
		background: $color-red-dark
		&:hover
			background: $color-red
			
	&.btn-blue-light
		background: $color-blue-light
		&:hover
			background: $color-blue
		
	&.btn-blue
		background: $color-blue
		&:hover
			background: $color-blue-dark
			
	&.btn-blue-dark
		background: $color-blue-dark
		&:hover
			color: $color-blue-dark
			background: $color-blue-light		
			
	&.btn-green
		background: $color-green
		&:hover
			background: $color-green-dark	
			
	&.btn-green-dark
		background: $color-green-dark
		&:hover
			background: $color-green
			
.box
	padding: 15px
	margin: 10px 0 10px 0
	&.white
		background: white
	&.blue
		background: $color-blue
	&.red
		background: $color-red
	&.green
		background: $color-green
	&.brown-lighter
		background: #f8f5f3
	&.brown-light
		background: $color-brown-light
	&.brown
		background: $color-brown


.social-networks
	@extend %clear-list
	clear: both
	float: left
	margin: emCalc(-73px) 0 emCalc(20px) emCalc(4px) !important
	li
		float: left
		margin-left: emCalc(10px)
	a
		@extend %circle-shape
		width: emCalc(30px, 24px)
		height: emCalc(30px, 24px)
		background: $font-color
		text-align: center
		font-size: 24px
		line-height: emCalc(30px, 24px)
		color: #fff
		text-decoration: none
		+opacity(0.5)

		&:hover
			+opacity(0.7)
	@each $social in vimeo, twitter, rss, facebook, linkedin, googleplus, youtube
		.#{$social}
			+icon("i-#{$social}")

.img-float-left
	float: left
.img-float-right
	float: right

.margin-left-5
	margin-left: 5px
.margin-left-10
	margin-left: 10px
.margin-left-15
	margin-left: 15px

.margin-right-5
	margin-right: 5px
.margin-right-10
	margin-right: 10px
.margin-right-15
	margin-right: 15px
	
.margin-bottom-5
	margin-bottom: 5px
.margin-bottom-10
	margin-bottom: 10px
.margin-bottom-15
	margin-bottom: 15px
	
.margin-top-5
	margin-top: 5px
.margin-top-10
	margin-top: 10px
.margin-top-15
	margin-top: 15px
	
	
footer
	margin-top: 40px
	.footer-sitemap
		list-style: none
		li
			margin-left: -40px
	.footer-support
		list-style: none
		li
			margin-left: -40px
	.copyright
		margin-left: 15px
		font-size: 12px
		line-height: 14px