/* Apps Content */
.apps
	&.selligent
		.header
			height: 70px
			background: $color-brown-darkest
			padding: 20px
			.logo-selligent
				text-align: center
				img
					max-width: 150px

		.footer
			height: 80px
			background: $color-brown-darkest
			text-align: center
			.text
				color: #ffffff
				font-size: 12px
			.logo
				width: 100%
				height: 40px
				background: url('/images/notificare_dashboard_logo.png') center no-repeat
				@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2/1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx)
				background: url('/images/notificare_dashboard_logo2x.png') center no-repeat
				background-size: 90px 40px
				&.big
					width: 100%
					height: 75px
					background: url('/images/notificare_dashboard_logo.png') center no-repeat
					@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2/1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx)
					background: url('/images/notificare_dashboard_logo2x.png') center no-repeat
					background-size: 167px 75px
		.content
			padding: 20px
			min-height: 300px
			h1
				font-size: 18px
				color: $color-brown-darkest
				font-weight: 600
			.text
				font-size: 14px
				color: $color-brown-darkest
				font-weight: 200
				.sponsor
					max-width: 100px

