.features
	margin-top: 120px

	.top-margin-row
		margin-top: 65px
		
	.jumbotron
		background: url('/images/features/features-list-intro-banner.jpg')
		border-radius: 0
		height: 380px
		
		&.features-list
			margin-bottom: 100px
		&.industries-header
			background: url('/images/industries/industries-list-intro-banner.jpg')
		.feature-image
			margin: -150px -30px 0 0
			&.special-margin
				margin: -40px -40px 0 0
		.feature-content
			h1
				font-size: 44px
				font-weight: 500
				color: white
			.lead
				font-size: 20px
				color: white
	.features-divider
		border-top: 1px solid transparent
		height: 2px
		
	.feature-row
		margin-bottom: 60px
		
	.call-for-action
		width: 100%
		font-size: 30px
		margin: 20px 0 0 0
		padding: 15px
		.action
			display: block
			font-weight: 500