.features
	margin-top: 120px

	.top-margin-row
		margin-top: 65px
		
	.jumbotron
		background: white
		
		&.features-list
			margin-bottom: 100px
			
			
		.feature-image
			margin: -150px -30px 0 0
			&.special-margin
				margin: -40px -40px 0 0
		.feature-content
			h1
				font-size: 40px
				font-weight: 500
			.lead
				font-size: 18px
		
	.features-divider
		border-top: 1px solid transparent
		height: 2px
		
	.feature-row
		margin-bottom: 60px
		
	.call-for-action
		width: 100%
		font-size: 30px
		margin: 20px 0 0 0
		padding: 15px
		.action
			display: block
			font-weight: 500