/* Introduction */
.introduction
	margin-bottom: 0
	padding-top: emCalc(50px)
	background: $color-blue
	color: #fff
	.wrap
		position: relative
		min-height: emCalc(445px)
	.hand
		right: 0
		bottom: 0
		position: absolute
	h1
		font-size: emCalc(58px)
		line-height: emCalc(68px, 58px)
	p
		font-size: emCalc(22px)
		line-height: emCalc(34px, 22px)
	h1, p
		margin-bottom: 25px
	.text
		width: 46% // 460px
		line-height: 2em
	.signup
		@extend %btn-darkblue
		padding: emCalc(13px, 22px) emCalc(40px, 22px)
		margin-bottom: emCalc(15px, 22px)
		font-size: emCalc(22px)
		text-align: center
		color: #fff
		&:hover
			background: $font-color
.intro-rotator
	width: 789px
	height: 445px
	overflow: hidden
	position: absolute
	right: 0
	top: 0
.intro-images-rotator
	margin: 0
	padding: 0
	li
		display: none
		position: absolute
		&.active
			display: block

/* Home Features - rich content, two way communication, and blog-review */
.home-features
	article
		@extend %clearfix
		padding: emCalc(50px) 0
		background: url("../images/line-shadow.png") no-repeat center bottom
	h1
		margin-bottom: emCalc(10px, 46px)
		font-size: emCalc(46px)
		font-weight: 600
	h2
		margin-bottom: emCalc(5px, 30px)
		font-weight: 600
	ul
		@extend %clear-list
		li
			min-height: emCalc(115px)
			padding-left: emCalc(50px)
			margin-bottom: emCalc(50px)
			&.active, &:hover // Replace with icon
				background: url("../images/arrow-active-l.png") no-repeat left center
		.img-icon
			width: 137px
			float: left
			margin-right: emCalc(20px)
			img
				@extend %fleximage
		p
			font-size: emCalc(16px)
			line-height: emCalc(24px, 16px)
			margin-top: 0

.img-dashboard-feat
	width: emCalc(624px)
	margin: 0 0 0 emCalc(20px)
	float: left
	text-align: center
	img
		@extend %fleximage

// Toggle show hide button
.hideshow
	a
		@extend %btn-green
		position: relative
		float: right
		// &:after
		// 	content: ""
		// 	display: block
		// 	width: 0
		// 	height: 0
		// 	position: absolute
		// 	bottom: -5px
		// 	left: 50%
		// 	margin-left: -5px
		// 	border-left: 7px solid transparent
		// 	border-right: 7px solid transparent
		// 	border-top: 7px solid $color-green

// Generic iPhone image holder
.iphone
	width: 294px
	margin-right: 20px
	position: relative
// iPhone screen that holds the content
.iphone-screen
	width: 254px
	height: 451px
	position: absolute
	top: 87px
	left: 19px
	overflow: hidden
	li
		padding: 0 !important
		position: absolute
		top: 0
		left: 0
		z-index: 1
		&.active
			z-index: 10
			display: block
	img
		@extend %fleximage

.block-loader-rotator
	position: relative

.feature-lists
	width: 675px
.introtext
	font-size: emCalc(20px)
	line-height: emCalc(28px, 20px)
	margin: 0 0 emCalc(40px, 20px)
.rich-content
	.iphone
		float: left
	.feature-lists
		float: right

.communication-content
	ul li
		padding: 0 emCalc(30px) 0 0
		&:hover, &.active
			background: url("../images/arrow-active-r.png") no-repeat right center
	.iphone
		float: right
	.feature-lists
		float: left

.home-dashboard-features
	h1
		text-align: center
		margin-bottom: emCalc(40px, 48px)
	li
		float: left
	.menu-carousel
		text-align: center
		margin-bottom: emCalc(40px)
		ul
			+border-radius(3px)
			overflow: hidden
			display: inline-block
		li
			min-height: auto
			padding: 0
			margin: 0 0 0 10px
			&:first-child
				margin-left: 0
			&.active a, &:hover a
				background-image: none
				background-color: $color-brown
		a
			+border-radius(50%)
			+hide-text
			width: emCalc(15px)
			height: emCalc(15px)
			display: block
			background: $color-brown-light
	.dashboard-carousel
		min-height: 500px
		position: relative
		li
			padding: 0
			max-width: 1000px
			min-height: 500px
			margin-bottom: 0
			position: absolute
			background: #fff !important
		img
			width: auto
			max-height: 400px
		p
			font-size: emCalc(20px)
			line-height: emCalc(34px, 20px)
			margin-top: emCalc(20px, 20px)

// Basic avatar styling - circle image with 10px blue border
.avatar
	@extend %circle-shape
	width: 150px
	height: 150px
	border: solid 10px $color-blue

// Basic author-img styling - circle image(80x80) with 5px blue border
.author-img
	@extend %circle-shape
	width: emCalc(80px)
	height: emCalc(80px)
	border: solid 5px $color-blue

.blog-review
	background-image: none !important
	> div
		width: 47%
		float: left
		border-left: solid 1px #ebeae8
		&:first-child
			border: 0
			padding-right: 5%
	h1
		font-size: emCalc(34px)
		font-weight: 300
	p
		font-size: emCalc(16px)
		margin-bottom: 0
	.author-info
		text-transform: uppercase
		font-size: emCalc(14px)
		line-height: emCalc(22px, 14px)
		color: #a18c76
		overflow: hidden
		margin: emCalc(10px, 14px) 0
	.author-img
		float: left
		margin: 0 emCalc(20px, 14px) emCalc(20px, 14px) 0
	.reviewbox
		text-align: center
		blockquote p
			margin-top: 0
			font-size: emCalc(20px)
			font-style: italic
			font-weight: 300
		p
			font-weight: 500

// Button green for plan & pricing
.btn-holder
	text-align: center
	padding-top: emCalc(30px)
	clear: both
	&.topright
		font-size: emCalc(14px)
		margin: 0
		padding: 0
.btn-plan-pricing
	display: inline-block
	padding: emCalc(25px, 20px) emCalc(50px, 20px)
	text-align: center
	background: $color-green
	font-size: emCalc(20px)
	line-height: emCalc(28px, 20px)
	color: #fff
	strong
		display: block
		font-size: emCalc(22px, 20px)
		font-weight: 500
	&:hover
		background: $color-green-dark

.press-box
	border-top: solid 1px #ebeae8
	background-image: none !important
	img
		@extend %fleximage
	h1
		text-align: center
		font-weight: 300
		font-size: emCalc(34px)







