---
layout: blog
show_menu: true
path: /blog
title: Blog
description: In our blog you will find the best of us! From our latest adventures to our epiphanies, we'll post about what makes us move forward.
keywords: blog, articles, epiphanies, adventures
text_kop: Blog 
---
<div class="blog">
	{% for post in site.posts %}
	<div class="post box white">
		<div class="row">
			<div class="col-md-7">
				<div class="post-author">
					<div class="post-author-avatar">
						<img src="/images/authors/{{ post.author | escape }}.jpg" alt="{{ post.author }}" />
					</div>
					<p class="post-author-name">{{ post.author | escape }}</p>
					<p class="post-date">on <time datetime="{{ post.date | date: '%Y %m %d' }}">{{ post.date | date: "%B %e %Y" }}</time></p>
				</div>
				<div class="post-img">
				{% if post.image %}
					<img src="/images/posts/{{ post.image }}" alt="{{ post.name }}" />
				{% endif %}
				</div>
			</div>
			<div class="col-md-5">
				<h3><a href="{{ post.url }}">{{ post.title | escape }}</a></h3>
				<div class="post-text">
					{{ post.excerpt }}
					<a href="{{ post.url }}" class="btn btn-primary pull-right">Read more...</a>
				</div>
			</div>
		</div>
	</div>
	{% endfor %}
</div>
