---
layout: content
show_menu: true
path: /blog
title: Blog | Notificare
description: In our blog you will find the best of us! From our latest adventures to our epiphanies, we'll post about what makes us move forward.
keywords: blog, articles, epiphanies, adventures
text_kop: Blog 
---
<section class="blogs">
	{% for post in site.posts %}
	<article>
		<header>
			<div class="author-info">
				<div class="author-img">
					<img src="/images/{{ post.author | append:'.jpg' | escape }}" alt="{{ post.author }}" />
				</div>
				<p class="name">{{ post.author | escape }}</p>
				<p>on <time datetime="{{ post.date | date: '%Y %m %d' }}">{{ post.date | date: "%B %e %Y" }}</time>
				</p>
			</div>
			<h3><a href="{{ post.url }}">{{ post.name | escape }}</a></h3>
		</header>
		<div class="article-text">
			{{ post.excerpt }}
		</div>
		<div class="article-img">
		{% if post.image %}
			<img src="{{ post.image | asset_path }}" alt="{{ post.name }}" />
		{% endif %}
		</div>
		<a href="{{ post.url }}" class="readmore">Read more...</a>
	</article>
	{% endfor %}
</section>
