---
layout: features
path: /features
title: Features
description: Overview of Notificare's main features. Browse our highlighted features and learn how you can have push notifications in no time.
keywords: Overview of Notificare's main features. 
text_kop: Features
---
<div class="jumbotron features-list">
    <!--<img class="feature-image img-float-right margin-left-15 img-responsive" src="/images/features/header_features_intro.png" alt="Notifications just got smarter">-->
    <div class="feature-content">
        <h1>Mobile Marketing Platform</h1>
        <p class="lead">Send out Rich and Interactive Push Notifications for iOS, Android and Web. <br />Enhance your apps with location based messages & iBeacon technology.</p>
        <p><a class="btn btn-lg btn-success" href="/sign-up" role="button">Start a 30 day trial</a></p>
    </div>
</div>


{% for item in site.data.features %}
{% if forloop.index == 1 or forloop.index == 4 or forloop.index == 7 %}<div class="row feature-row">{% endif %}
	<div class="col-sm-4">
		<img class="img-float-left margin-right-15 img-responsive margin-bottom-5" src="{{ item.featurepageImage }}" alt="{{ item.title | escape }}">
		<h3>{{ item.title }} {{ item.subtitle }}</h3>
		<p>{{ item.description | newline_to_br }}</p>
		<p><a class="btn btn-primary" href="{{ item.link.url }}" role="button">{{ item.link.text }}</a></p>
	</div>
{% if forloop.index == 3 or forloop.index == 6 or forloop.index == 9 %}</div>{% endif %}
{% endfor %}
