{% include header.html %}
{% include javascript.html %}
<script type="text/javascript" src="//assets.zendesk.com/external/zenbox/v2.6/zenbox.js"></script>
<style type="text/css" media="screen, projection">
  @import url(//assets.zendesk.com/external/zenbox/v2.6/zenbox.css);
</style>
</head>
<body>
	{% include menu.html %}
	<div class="container main-content">
		<div class="col-sm-12">
			<h1>{{ page.text_kop }}</h1>
			{{ content }}
		</div>
	</div>
	<!-- FOOTER -->
	<footer>
		{% include footer.html %}
		{% include analytics.html %}
	</footer>
	<script type="text/javascript">
		
	var isPhone = (/iphone|ipod/i.test(navigator.userAgent.toLowerCase()));
	
		if (typeof(Zenbox) !== "undefined" && !isPhone) {
			Zenbox.init({
				dropboxID:   "20175868",
				url:         "https://notificare.zendesk.com",
				tabTooltip:  "Support",
				tabImageURL: "https://assets.zendesk.com/external/zenbox/images/tab_support_right.png",
				tabColor:    "#ad9b87",
				tabPosition: "Right"
			});
		}
	</script>
</body>
</html>