{% include header.html %}
{% include javascript.html %}
</head>
<body>
<body class="newhome">
	<header id="mainheader">
		<div class="wrap">
			<h1><a href="/">Notificare</a></h1>
			{% include menu.html %}
		</div><!-- wrap ends -->
	</header>

	<section class="introduction">
		<div class="wrap">
			<div class="text">
				<h1>Notifications just got smarter!</h1>
				<p>Truly rich and interactive push notifications. <br> Get to know your users. Build a relationship.</p>
				<a class="signup" href="/signup">Sign up <strong>for free</strong></a>
			</div>

			<img src="/images/intro-iphone.png" alt="iPhone" class="hand">

			<div class="intro-rotator">
				<ul class="intro-images-rotator">
					<li class="active"><img src="/images/intro-iphone1.png" alt="iPhone"></li>
					<li><img src="/images/intro-iphone2.png" alt="iPhone"></li>
<!-- 					<li><img src="/images/intro-iphone3.png" alt="iPhone"></li>
 -->		</ul>

				<ul class="intro-loader-rotator" style="display: none;">
					<li class="active"><a href="#" class="state-1"><span>1</span></a></li>
					<li><a href="#" class="state-1"><span>1</span></a></li>
<!-- 					<li><a href="#" class="state-1"><span>1</span></a></li>
 -->		</ul>
			</div> <!-- intro-rotator ends -->
		</div> <!-- Wrap ends -->
	</section>

	<section class="home-features">
		<div class="wrap">
			<p class="btn-holder topright">
				<a class="btn-plan-pricing" href="/pricing">
					<strong>Wanna add Smartness to your app?</strong>
					Check out our plans &amp; pricing here!
				</a>
			</p>
			<article class="rich-content">
				<div class="feature-lists">
					<h1>Engaging experiences</h1>
					<p class="introtext">Use the power of push notifications to fuel your customers' experience in your app.</p>
					<ul class="block-loader-rotator">
						<li class="active">
							<a href="#">
								<div class="img-icon"><img src="/images/i-textpush.png" alt="Text push"></div>
								<h2>Be relevant!</h2>
								<p>Send messages to a group of users, a specific user or device, or even to users that are in a certain location.</p>
							</a>
						</li>
						<li>
							<a href="#">
								<div class="img-icon"><img src="/images/i-htmlpush.png" alt="HTML push"></div>
								<h2>Compose rich messages</h2>
								<p>Direct your users to an existing web page, or, even better, compose your own HTML messages. Include any media file, use images, maps, etc. Just be creative!</p>
							</a>
						</li>
						<li>
							<a href="#">
								<div class="img-icon"><img src="/images/i-mappush.png" alt="Map push"></div>
								<h2>Location aware</h2>
								<p>Need to give directions or just show your retail stores on a map? Use our location tracking feature to point your users to the right place.</p>
							</a>
						</li>
					</ul>
<!-- 					<div class="hideshow">
						<a href="#" class="toggle-feature">See more features</a>
					</div> -->
				</div>

				<div class="iphone">
					<img src="/images/iphone-base.png" alt="">
					<div class="iphone-screen">
						<ul class="block-content-rotator">
							<li class="active"><a href="#" class="state-1"><img src="/images/screen-textpush_2x.png"></a></li>
							<li><a href="#" class="state-1"><img src="/images/screen-imagepush_2x.png"></a></li>
							<li><a href="#" class="state-1"><img src="/images/screen-mappush_2x.png"></a></li>
						</ul>
					</div>
				</div>
			</article>

			<article class="communication-content">
				<div class="feature-lists">
					<h1>Two way communication</h1>
					<p class="introtext">Stop shouting, start interacting with your users! Get the most out of push notifications.</p>
					<ul class="block-loader-rotator">
						<li class="active">
							<a href="#">
								<div class="img-icon"><img src="/images/i-poll.png" alt="Poll push"></div>
								<h2>Ask a question, get feedback!</h2>
								<p>Measure your users' happiness level when you release new features. Trigger your biggest fans to rate your app. Or just ask them what they think of that awesome new product you just launched.</p>
							</a>
						</li>
						<li>
							<a href="">
								<div class="img-icon"><img src="/images/i-corefuntions.png" alt="Access core functions"></div>
								<h2>Get the most out of devices</h2>
								<p>Through our SDK, you can access core functionality of your users' devices. Have them set up a call, send email or SMS, use the camera or simply ask them for input.</p>
							</a>
						</li>
						<li>
							<a href="">
								<div class="img-icon"><img src="/images/i-thirdtparty.png" alt="Third party"></div>
								<h2>Use your own code</h2>
								<p>Ask for input, then trigger your app or even already installed apps for more advanced functionality. Our API will also happily talk to your backend or existing third-party systems.</p>
							</a>
						</li>

					</ul>
				</div>

				<div class="iphone">
					<img src="/images/iphone-base.png" alt="">
					<div class="iphone-screen">
						<ul class="block-content-rotator">
							<li class="active"><a href="#" class="state-1"><img src="/images/screen-ratingpush_2x.png"></a></li>
							<li><a href="#" class="state-1"><img src="/images/screen-corefunctions_2x.png"></a></li>
							<li><a href="#" class="state-1"><img src="/images/screen-imagepush_2x.png"></a></li>
						</ul>
					</div>
				</div>
			</article>

			<article class="home-dashboard-features">
				<div class="menu-carousel">
					<ul class="block-loader-rotator" style="display: none;">
						<li class="active"><a href="#" class="state-1">stats</a></li>
						<li><a href="#" class="state-1">users</a></li>
						<li><a href="#" class="state-1">composer</a></li>
						<li><a href="#" class="state-1">sdk</a></li>
					</ul>
				</div>
				<div class="dashboard-carousel">
					<ul class="block-content-rotator">
						<li class="active">
							<h1>One push to rule them all</h1>
							<div class="img-dashboard-feat">
								<img src="/images/home-mac_2x.png" alt="">
							</div>
							<p>Send your messages to any mobile platform, straight from the dashboard. Pick your audience based on user name, specific device, geographic location or send a broadcast. Choose a notification type, add actions, and preview before you send. Easy peasy!</p>
						</li>
						<li>
							<h1>Know thy users</h1>
							<div class="img-dashboard-feat">
								<img src="/images/home-ipad_2x.png" alt="">
							</div>
							<p>Look up users and get information about their devices. See what platforms, versions and languages are being used most for your app.</p>
						</li>
						<li>
							<h1>See what's happening</h1>
							<div class="img-dashboard-feat">
								<img src="/images/home-imac_2x.png" alt="">
							</div>
							<p>Gain insight into the usage of your app in a glance. See statistics on registrations, active users and number of notifications sent. Analyze how fast users respond to notifications, the actions they take, the answers they give.</p>
						</li>
						<li>
							<h1>Integration is easy</h1>
							<div class="img-dashboard-feat">
								<img src="/images/sdk_box_highlights.png" alt="">
							</div>
							<p>Our SDK lets you easily integrate Notificare into your app on iOS, Android or HTML5 apps. The straight forward implementation will have you up and running in no time. And if the dashboard doesn't satisfy your push needs, our REST API gives you the freedom to send notifications from your existing backend systems.</p>
						</li>
					</ul>
				</div>
			</article>

			<article class="blog-review">
        {% include blog_home.html %}
        {% include testimonial_home.html %}
				<p class="btn-holder">
					<a class="btn-plan-pricing" href="/pricing">
						<strong>Wanna add Smartness to your app?</strong>
						Check out our plans &amp; pricing here!
					</a>
				</p>
			</article>
			<article class="press-box">
				<h1>As seen on</h1>
				<img src="/images/press-icons.png" alt="Press">
			</article>
		</div><!-- wrap ends -->
	</section>
	{% include footer.html %}	
	{% include analytics.html %}
</body>
</html>
