{% include header.html %}
{% include javascript.html %}
</head>
<body>

	{% include menu.html %}


	<!-- Carousel
	================================================== -->
	<div id="mainFeatures" class="carousel slide" data-ride="carousel">
		<!-- Indicators -->
		<ol class="carousel-indicators">
			<li data-target="#mainFeatures" data-slide-to="0" class="active"></li>
			<li data-target="#mainFeatures" data-slide-to="1"></li>
			<li data-target="#mainFeatures" data-slide-to="2"></li>
			<li data-target="#mainFeatures" data-slide-to="3"></li>
		</ol>
		<div class="carousel-inner">
			<div class="item active">
				<img data-src="holder.js/900x500/auto/#92c4cf:#92c4cf/text:First slide" alt="First slide">
				<div class="container">
					<div class="carousel-caption">
						<div class="carousel-caption-content">
							<h1>Notifications just got smarter</h1>
							<p>Rich and interactive push notifications for iOS, Android and Web apps.</p>
							<p>
								<a class="btn btn-lg btn-primary btn-blue-dark" href="//dashboard.notifica.re/#/sign-up" role="button">Sign up for free now</a>
							</p>
						</div>
					</div>
				</div>
			</div>
			<div class="item">
				<img data-src="holder.js/900x500/auto/#92c4cf:#92c4cf/text:First slide" alt="First slide">
				<div class="container">
					<div class="carousel-caption">
						<div class="carousel-caption-content">
							<h1>Unified Push Messaging</h1>
							<p>Deliver engaging cross platform push notifications. One push for all.</p>
							<p>
								<a class="btn btn-lg btn-primary btn-blue-dark" href="/features/unified-push-messaging" role="button">Show me how</a>
							</p>
						</div>
					</div>
				</div>
			</div>
			<div class="item">
				<img data-src="holder.js/900x500/auto/#92c4cf:#92c4cf/text:Second slide" alt="Second slide">
				<div class="container">
					<div class="carousel-caption right">
						<div class="carousel-caption-content">
							<h1>Discover your audience</h1>
							<p>
								Get to know your users. Build a relationship.
							</p>
							<p><a class="btn btn-lg btn-primary btn-blue-dark" href="/features/discover-your-audience" role="button">Learn more</a></p>
						</div>
					</div>
				 </div>
			</div>
			<div class="item">
				<img data-src="holder.js/900x500/auto/#92c4cf:#92c4cf/text:Third slide" alt="Third slide">
				<div class="container">
					<div class="carousel-caption">
						<div class="carousel-caption-content">
							<h1>Create an engaging experience</h1>
							<p>From simple messages to rich actionable content.
							<br />
								Extend your apps with a powerful way of reaching your users.
							</p>
							<p><a class="btn btn-lg btn-primary btn-blue-dark" href="/features/create-an-engaging-experience" role="button">Browse examples</a></p>
						</div>
					</div>
				</div>
			</div>
		</div>
		<a class="left carousel-control" href="#mainFeatures" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a>
		<a class="right carousel-control" href="#mainFeatures" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
	</div><!-- /.carousel -->



	<!-- Marketing messaging and featurettes
	================================================== -->
	<!-- Wrap the rest of the page in another container to center all the content. -->

	<div class="container home-content">
	
	<!-- START THE FEATURETTES -->

	<hr class="featurette-divider">

	<div class="row featurette">
		<div class="col-md-7">
			<h2 class="featurette-heading">Free SDK inside. <span class="text-muted">Release faster.</span></h2>
			<p class="lead">Check out how you can have smart push notifications accross all the channels you use now, in no time. Download our Software Development Kit now and let us do the heavy lifiting of queueing, delivering, and displaying your notifications.</p>
			<div class="find-out-more">
				<a href="/features/sdks" class="btn btn-primary btn-blue btn-lg"><i class="icon glyphicon glyphicon-chevron-right"></i>Find out more</a>
			</div>
		</div>
		<div class="col-md-5">
			<img class="featurette-image img-responsive" data-src="holder.js/500x500/auto" alt="Generic placeholder image">
		</div>
	</div>

	<hr class="featurette-divider">

	<div class="row featurette">
		<div class="col-md-5">
			<img class="featurette-image img-responsive" data-src="holder.js/500x500/auto" alt="Generic placeholder image">
		</div>
		<div class="col-md-7">
			<h2 class="featurette-heading">One simple and powerful dashboard. <span class="text-muted">See for yourself.</span></h2>
			<p class="lead">Be delighted by all the insights you can gather and how fast you can discover and categorise your audience. Take advantage of a web interface that works nearly in any device.</p>
			<div class="find-out-more">
				<a href="/features/dashboard" class="btn btn-primary btn-blue btn-lg"><i class="icon glyphicon glyphicon-chevron-right"></i>See all the features</a>
			</div>
		</div>
		
	</div>

	<hr class="featurette-divider">

	<div class="row featurette">
		<div class="col-md-7">
			<h2 class="featurette-heading">We have an API. <span class="text-muted">Do you?</span></h2>
			<p class="lead">Use our APIs to integrate our platform in your own backend. Automate how you categorise your users, send notifications or gather insights. Extend your application with push notifications effortlessly.</p>
			<div class="find-out-more">
				<a href="/features/api" class="btn btn-primary btn-blue btn-lg"><i class="icon glyphicon glyphicon-chevron-right"></i>Learn more about integration</a>
			</div>
		</div>
		<div class="col-md-5">
			<img class="featurette-image img-responsive" data-src="holder.js/500x500/auto" alt="Generic placeholder image">
		</div>

	</div>

	<hr class="featurette-divider">

	<!-- /END THE FEATURETTES -->

	
	<div class="row marketing">
		<div class="row whos-using">
			<h3>Who's using it</h3>
		</div>
		<div class="row">
			<div class="col-lg-4">
				<img class="img-circle" data-src="holder.js/140x140" alt="Generic placeholder image">
				<h2>Netherlands Red Cross</h2>
				<p>This first aid guide app teaches you what to do in case of an accident. Notificare transforms their user's location into a relevant push notification. </p>
				<p><a class="btn btn-default " href="#" role="button"><i class="icon glyphicon glyphicon-chevron-right"></i>see the case</a></p>
			</div><!-- /.col-lg-4 -->
			<div class="col-lg-4">
				<img class="img-circle" data-src="holder.js/140x140" alt="Generic placeholder image">
				<h2>Cookoo Watch</h2>
				<p>This smart watch maker is changing the shape of time as we know it. Cookoo Watch uses Notificare to deliver millions of notifications in your wrist.</p>
				<p><a class="btn btn-default " href="#" role="button"><i class="icon glyphicon glyphicon-chevron-right"></i>see the case</a></p>
			</div><!-- /.col-lg-4 -->
			<div class="col-lg-4">
				<img class="img-circle" data-src="holder.js/140x140" alt="Generic placeholder image">
				<h2>Hema</h2>
				<p>This major retail shop in the Benelux uses Notificare to engage and increase consumers loyalty for the brand.</p>
				<p><a class="btn btn-default " href="#" role="button"><i class="icon glyphicon glyphicon-chevron-right"></i>see the case</a></p>
			</div><!-- /.col-lg-4 -->
		</div>
	</div><!-- /row marketing -->
	
		<!-- FOOTER -->
	{% include footer.html %}

	</div><!-- /.container -->
	{% include analytics.html %}
</body>
</html>
