{% include header.html %}
{% include javascript.html %}
</head>
<body class="home">

	{% include menu.html %}


	<!-- Carousel
	================================================== -->
	<div id="mainFeatures" class="carousel slide" data-ride="carousel">
		<!-- Indicators -->
		<ol class="carousel-indicators">
		{% for item in site.data.features %}
			<li data-target="#mainFeatures" data-slide-to="{{ forloop.index0 }}"{%if forloop.first %} class="active"{% endif %}></li>
		{% endfor %}
		</ol>
		<div class="carousel-inner">
		{% for item in site.data.features %}
			<div class="item{% if forloop.first %} active{% endif %}">
				<img src="/images/banners/banner_bg_blue.gif" class="img-responsive" alt="{{ item.title | escape }}">
				<div class="container">
					<div class="carousel-caption{% if item.carouselAlign %} {{ item.carouselAlign }}{% endif %}">
						<div class="animation">
							<img class="img-responsive" src="{{ item.carouselImage}}" alt="{{ item.title | escape }}">
						</div>
						<div class="carousel-caption-content">
							<h1>{{ item.title | escape }}</h1>
							<p>{{ item.carouselDescription | newline_to_br }}</p>
							<p>
								<a class="btn btn-lg btn-primary btn-blue-dark" href="{{ item.carouselLink.url }}" role="button">{{ item.carouselLink.text }}</a>
							</p>
						</div>
					</div>
				</div>
			</div>
		{% endfor %}
		</div>
		<a class="left carousel-control" href="#mainFeatures" data-slide="prev"><span class="icon big-arrow-left"></span></a>
		<a class="right carousel-control" href="#mainFeatures" data-slide="next"><span class="icon big-arrow-right"></span></a>
	</div><!-- /.carousel -->



	<!-- Marketing messaging and featurettes
	================================================== -->
	<!-- Wrap the rest of the page in another container to center all the content. -->

	<div class="container home-content">
	
	<!-- START THE FEATURETTES -->
	{% for item in site.data.featurettes %}
	
	<hr class="featurette-divider">

	<div class="row featurette">
	{% if forloop.index == 2 or forloop.index == 4 or forloop == 6 %}
		<div class="col-sm-5">
			<img class="featurette-image img-responsive" src="{{ item.image }}" alt="{{ item.title }}">
		</div>
	{% endif %}
		<div class="col-sm-7">
			<h2 class="featurette-heading">{{ item.title }} <span class="text-muted">{{ item.subtitle }}</span></h2>
			<p class="lead">{{ item.description | newline_to_br }}</p>
			<div class="find-out-more">
				<a href="{{ item.link.url }}" class="btn btn-primary btn-blue btn-lg"><i class="icon bold-arrow-right"></i>{{ item.link.text }}</a>
			</div>
		</div>
	{% if forloop.index == 1 or forloop.index == 3 or forloop == 5 %}
		<div class="col-sm-5">
			<img class="featurette-image img-responsive" src="{{ item.image }}" alt="{{ item.title }}">
		</div>
	{% endif %}
	</div>
	{% endfor %}

	<hr class="featurette-divider-footer">

	<!-- /END THE FEATURETTES -->

	
	<div class="row marketing">
		<div class="row whos-using">
			<h3>Our customers</h3>
		</div>
		<div class="row">
		{% for item in site.data.testimonials %}
		{% if item.showOnHome %}
			<div class="col-sm-4 blocks">
				<img class="img-circle" src="{{ item.image }}" alt="{{ item.name }}">
				<h2>{{ item.name }}</h2>
				<p>"{{ item.text }}" <br>{{ item.signature }}</p>
			<!-- 	<p><a class="btn btn-default " href="{{ item.case }}" role="button"><i class="icon bold-arrow-right"></i>see the case</a></p> -->
			</div><!-- /.col-lg-4 -->
		{% endif %}
		{% endfor %}
		</div>
	</div><!-- /row marketing -->

	</div><!-- /.container -->
		
		<!-- FOOTER -->
	<footer>
		{% include footer.html %}
		{% include analytics.html %}
	</footer>

</body>
</html>
