---
layout: blog
show_menu: true
---

<div class="blog-post">
	<div class="post box white">
		<div class="row">
			<div class="post-author">
				<div class="post-author-avatar">
					<img src="/images/authors/{{ page.author | escape }}.jpg" alt="{{ page.author }}" />
				</div>
				<p class="post-author-name">{{ page.author | escape }}</p>
				<p class="post-date">on <time datetime="{{ post.date | date: '%Y %m %d' }}">{{ page.date | date: "%B %e %Y" }}</time></p>
			</div>
			<div class="post-img">
			{% if page.image %}
				<img src="/images/posts/{{ page.image-detail }}" alt="{{ page.name }}" />
			{% endif %}
			</div>	
		</div>
		<div class="row">
			<div class="col-md-12">
				<h2>{{ page.title | escape }}</h2>
				<div class="post-text">
					{{ content }}
				</div>
			</div>
		</div>
		<div class="social-buttons">
	     <!-- Go to www.addthis.com/dashboard to customize your tools -->
         <div class="addthis_sharing_toolbox"></div>	
		</div>
		<div class="fb-comments" data-href="http://notifica.re{{ page.url }}" data-num-posts="5" data-width="1080"></div>
	</div>
</div>
